.homepage {
    width: 100%;
    height: 100vh;
    font-size: 12px;
    padding: 5px 10px 5px 0;
}

.filepath {
    color: #949494;
    font-size: 12px;
    padding-left: 20px;
}

.welcome{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -70px;
}

.welcome span{
    display:inline-block;
    position: relative;
    font-size: 40px;
    color: white;
    padding: 3px;
    animation: glitch 1s linear infinite;
}

@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }

.welcome p{
    font-size: 20px;
    color: white;
    position: relative;
    left:-10px;
}

